# Main Program
Flask~=2.3.2
Flask-SocketIO~=5.3.4
eventlet~=0.33.3

# Included Plugins
mutagen~=1.46.0
requests~=2.31.0
fuzzywuzzy~=0.18.0
python-Levenshtein~=0.21.0
spotipy~=2.23.0
tqdm~=4.65.0
PlexAPI~=4.14.0
tidalapi~=0.7.2
