# Main Program
Flask==2.0.1
Flask-SocketIO==5.1.1
eventlet==0.32.0

# Included Plugins
mutagen==1.45.1
requests==2.26.0
fuzzywuzzy==0.18.0
python-Levenshtein==0.12.2
spotipy==2.19.0
tqdm==4.62.3
PlexAPI==4.7.2