[Unit]
Description=ultrasonics: Sync music playlists between all your music services.
Documentation=https://github.com/XDGFX/ultrasonics
After=network.target
Wants=network-online.target
ConditionPathIsDirectory=/opt/ultrasonics

[Service]
Restart=always
Type=simple
ExecStart=/opt/ultrasonics/.venv/bin/python3 app.py
WorkingDirectory=/opt/ultrasonics

[Install]
WantedBy=multi-user.target
