<!DOCTYPE html>


<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ultrasonics</title>
    <meta name="description" content="do more with your music">
    <meta name="author" content="Callum Morrison">

    <link rel="shortcut icon" href="/static/images/favicon.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/bulma-prefers-dark">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bulma-extensions@6.2.7/bulma-checkradio/dist/css/bulma-checkradio.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap">
    <link rel="stylesheet" href="/static/css/custom.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"></script>
</head>

<body>

    <noscript>
        <strong>
            Sorry, ultrasonics won't work without JavaScript enabled :(
        </strong>
    </noscript>


    <div class="container">
        <section class="section">

            <div class="columns">
                <div class="column logo">
                    <img src="/static/images/logo.svg">
                </div>
            </div>

            <div class="columns">
                <div class="column">
                    <div class="content is-family-monospace has-grey-links">
                        <a href="/">home</a>
                        >
                        <a href="/new_applet">new applet</a>
                        >
                        <a href="/select_plugin?component={{ component }}">select plugin</a>
                        >
                        {% if persistent == 1 %}
                        <a onclick="history.back()">configure plugin</a>
                        >
                        <span class="p1"><b>persistent settings</b></span><br>
                        {% else %}
                        <span class="p1"><b>configure plugin</b></span><br>
                        {% endif %}

                        <span class="p2">plugin:</span> {{ plugin }}
                    </div>
                </div>

                <div class="column is-narrow has-text-right">
                    {% if persistent == 1 %}
                    <div class="tag">Only modified settings will be updated.</div>

                    {% elif persistent == 0 %}
                    <a class="button"
                        href="/configure_plugin?plugin={{ plugin }}&version={{ version }}&component={{ component }}&persistent=1">Persistent
                        Settings</a>
                    {% endif %}
                </div>
            </div>

            {% if custom_html %}
            <div class="content">
                <div class="tag is-warning">This page contains custom code provided by the plugin. Make sure you trust
                    it before entering any sensitive information!</div>
            </div>
            {% endif %}


            <form id="configure_plugin"
                action="{% if persistent == 1 %}/configure_plugin{% else %}/new_applet{% endif %}" method="post">

                <!-- Hidden inputs to store variables for current plugin -->
                <input type="hidden" name="action" value="add" id="configure_plugin_action">
                <input type="hidden" name="plugin" value="{{ plugin }}">
                <input type="hidden" name="version" value="{{ version }}">
                <input type="hidden" name="component" value="{{ component }}">

                {% if not settings %}
                <div class="field">
                    <label class="label">🌈 There are no settings to configure for this plugin.</label>
                </div>
                <div class="field">
                    <p class="title">
                        🎧 🔊 🎧 🔊 🎧 🔊
                    </p>
                </div>
                {% endif %}

                {% for setting in settings %}

                {% if setting is not mapping %}
                {{ setting | safe }}

                {% elif setting["type"] == "string" %}
                <div class="field">
                    <label class="label">{{ setting["value"] }}</label>
                </div>

                {% elif setting["type"] == "hidden" %}
                <input type="hidden" name="{{ setting['name'] }}" value="{{ setting['value'] }}">

                {% elif setting["type"] == "link" %}
                <div class="field has-grey-links">
                    <p><span class="p1">>> </span><a href="{{ setting['value'] }}">{{ setting["value"] }}</a></p>
                </div>

                {% elif setting["type"] == "text" %}
                <div class="field">
                    <label class="label">{{ setting["label"] }}</label>
                    <div class="control">
                        <input class="input" type="text" name="{{ setting['name'] }}"
                            placeholder="{{ setting['value'] }}" {% if setting.get("required")==True %}required{% endif
                            %}>
                    </div>
                </div>

                {% elif setting["type"] == "radio" %}
                <div class="field">
                    <label class="label">{{ setting["label"] }}</label>
                    <div class="control">

                        {% for option in setting["options"] %}
                        <input class="is-checkradio" type="radio" name="{{  setting['name'] }}" id="{{ option }}"
                            value="{{ option }}" {% if setting.get("required")==True %}required{% endif %}>
                        <label for="{{ option }}">{{ option }}</label>
                        {% endfor %}

                    </div>
                </div>

                {% elif setting["type"] == "select" %}
                <div class="field">
                    <label class="label">{{ setting["label"] }}</label>
                    <div class="control">
                        <div class="select">
                            <select name="{{ setting['name'] }}">

                                {% for option in setting["options"] %}
                                <option>{{ option }}</option>
                                {% endfor %}

                            </select>
                        </div>
                    </div>
                </div>

                {% elif setting["type"] == "auth" %}
                <script>
                    function openWindow() {
                        api_url = document.getElementById("auth_api_url").innerText;
                        auth_path = document.getElementById("auth_path").innerText.replace(/^\/+/, '');
                        auth_button = document.querySelector(".button.auth");
                        auth_input = document.getElementById("auth_input");

                        auth_button.classList.add("is-loading")
                        auth_window = window.open(api_url + auth_path, "ultrasonics-api");

                        function receiveMessage(event) {
                            auth_button.classList.remove("is-loading")

                            if (!api_url.includes(event.origin)) {
                                console.error(`Invalid origin (${event.origin}) of message.`)
                            } else if (event.data == "") {
                                console.error("No authentication data received")
                            } else {
                                auth_input.value = atob(event.data);

                                console.log("Data received from ultrasonics-api.")
                                console.log(event.data)
                                auth_button.classList.add("is-static")
                                auth_button.innerText = "✔️ Authenticated"

                                auth_window.close()
                                return;
                            }

                            auth_button.innerText = "❌ An error occurred"
                            auth_window.close()
                        }

                        window.addEventListener("message", receiveMessage);
                    }
                </script>

                <div class="field">
                    <label class="label">{{ setting["label"] }}</label>

                    <a class="button auth" onclick="openWindow()">🔑 Authenticate</a>

                    <span hidden id="auth_api_url">{{ global_settings['api_url'] }}</span>
                    <span hidden id="auth_path">{{ setting['path'] }}</span>
                    <input id="auth_input" type="hidden" name="auth" value="">
                </div>

                {% endif %}


                {% endfor %}

                <div class="columns is-vcentered">
                    <div class="column is-wide">
                        <div class="field is-grouped">

                            {% if test_exists and persistent %}
                            <div class="control">
                                <button type="submit" id="plugin_submit" class="button" disabled>Submit</button>
                            </div>
                            {% else %}
                            <div class="control">
                                <button type="submit" id="plugin_submit" class="button">Submit</button>
                            </div>
                            {% endif %}

                            {% if test_exists and persistent %}
                            <div class="control">
                                <a class="button" onclick=plugin_test() id="configure_plugin_testbutton">Test</a>
                            </div>

                            <script>
                                function plugin_test() {
                                    // Update action data and button animation
                                    action = document.getElementById("configure_plugin_action")
                                    button_test = document.getElementById("configure_plugin_testbutton")
                                    tag_success = document.getElementById("configure_plugin_success")
                                    tag_failed = document.getElementById("configure_plugin_failed")

                                    action.value = "test";
                                    button_test.classList.add("is-loading")
                                    tag_success.hidden = true
                                    tag_failed.hidden = true

                                    // Submit form data
                                    formData = new FormData(document.getElementById('configure_plugin'))
                                    xhr = new XMLHttpRequest;
                                    xhr.open('POST', '/configure_plugin', true);
                                    xhr.send(formData);

                                    // Reset action data
                                    action.value = "add";
                                }

                                var sio = io();

                                sio.on('plugin_test', function (data) {
                                    `
                                    Response from a plugin after testing.
                                    `
                                    console.log(data.logs)

                                    button_test = document.getElementById("configure_plugin_testbutton")
                                    tag_success = document.getElementById("configure_plugin_success")
                                    tag_failed = document.getElementById("configure_plugin_failed")
                                    button_submit = document.getElementById("plugin_submit")

                                    button_test.classList.remove("is-loading")
                                    tag_success.hidden = true
                                    tag_failed.hidden = true

                                    if (data.response) {
                                        tag_success.hidden = false
                                        button_submit.disabled = false
                                    } else {
                                        tag_failed.hidden = false
                                        button_submit.disabled = true
                                    }
                                });
                            </script>

                            {% endif %}

                            <div class="control">
                                {% if persistent %}
                                <a onclick="history.back()" class="button">Back</a>
                                {% else %}
                                <a href="/select_plugin?component={{ component }}" class="button">Back</a>
                                {% endif %}
                            </div>


                        </div>
                    </div>
                    <div class="column is-narrow">
                        <div class="content">
                            <div class="tag is-danger" id="configure_plugin_failed" hidden>Test failed. Plugin logs have
                                been pushed to your browser
                                console (press F12).</div>

                            <div class="tag is-success" id="configure_plugin_success" hidden>Test completed
                                successfully!</div>
                        </div>
                    </div>
                </div>
            </form>

        </section>
    </div>

</body>

</html>