<!DOCTYPE html>


<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ultrasonics</title>
    <meta name="description" content="do more with your music">
    <meta name="author" content="Callum Morrison">

    <link rel="shortcut icon" href="/static/images/favicon.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/bulma-prefers-dark">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bulma-extensions@6.2.7/bulma-checkradio/dist/css/bulma-checkradio.min.css">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bulma-extensions@6.2.7/bulma-tooltip/dist/css/bulma-tooltip.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap">
    <link rel="stylesheet" href="/static/css/custom.css">
</head>

<body class="has-background-animated">

    <noscript>
        <strong>
            Sorry, ultrasonics won't work without JavaScript enabled :(
        </strong>
    </noscript>


    <div class="container">

        <section class="section">
            <img src="/static/images/logo.svg">

            <div class="columns">
                <div class="column">
                    <!-- Placeholder for future content -->
                </div>

                <div class="column">
                    <div class="buttons has-addons is-centered">
                        <a href="/new_applet" class="button">new applet</a>
                        <a href="/settings" class="button">
                            <span class="icon">⚙</span>
                        </a>
                    </div>
                </div>

                <div class="column">
                    <!-- Placeholder for future content -->
                </div>
            </div>

            {% for item in applet_list %}
            <div class="tags has-addons">
                {% if item['applet_lastrun'] %}
                {% if item['applet_lastrun']['result'] %}
                <span class="tag is-lastrun is-medium tooltip tooltip-multiline"
                    data-tooltip="Last Run: Success!&#xa;{{ item['applet_lastrun']['time'] }}">
                    ✓
                </span>
                {% else %}
                <span class="tag is-lastrun is-medium tooltip tooltip-multiline"
                    data-tooltip="Last Run: Failed.&#xa;{{ item['applet_lastrun']['time'] }}">
                    ✗
                </span>
                {% endif %}
                {% else %}
                <span class="tag is-lastrun is-medium tooltip" data-tooltip="Last Run: Never">
                    ?
                </span>
                {% endif %}
                <span class=" tag is-medium is-primary">{{ item["applet_plans"]["applet_name"] }}</span>
                <span class="tag is-medium data">uuid: {{ item["applet_id"] }}</span>
                <a href="/?action=run&applet_id={{ item['applet_id'] }}" class="tag is-run is-medium">
                    ▶
                </a>
                <a href="/?action=modify&applet_id={{ item['applet_id'] }}" class="tag is-edit is-medium">
                    ✎
                </a>
                <a href="/?action=remove&applet_id={{ item['applet_id'] }}" class="tag is-delete is-medium"></a>
            </div>
            {% endfor %}
        </section>

        <div class="section has-text-centered">
            <p>
                <strong>ultrasonics</strong>
                <a class="{{ "p1" if version == new_version else "has-text-danger" }}" title="Newest Version: {{ new_version }}" href="https://github.com/XDGFX/ultrasonics/releases">{{ version }}</a>
                by <a class="p1" href="https://github.com/XDGFX/ultrasonics">XDGFX</a>.
                do more with your music.
            </p>
        </div>

    </div>


</body>

</html>