<!DOCTYPE html>


<html lang="en">

<head>
    <meta charset="utf-8">

    <title>ultrasonics</title>
    <meta name="description" content="do more with your music">
    <meta name="author" content="Callum Morrison">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/bulma-prefers-dark">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bulma-extensions@6.2.7/bulma-checkradio/dist/css/bulma-checkradio.min.css">
    <link rel="stylesheet" href="/static/custom.css">
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="/static/handlers.js"></script>
    <script src="/static/requesters.js"></script>
    <script src="/static/builders.js"></script> -->
</head>

<body>

    <noscript>
        <strong>
            Sorry, ultrasonics won't work without JavaScript enabled :(
        </strong>
    </noscript>



    <section class="section">
        <div class="container">
            <h1 class="title">ultrasonics</h1>
            <p class="heading">Create a new applet to begin</p>

        </div>

    </section>

    <section class="section">
        <div class="container">
            <p id="handshakes"></p>
        </div>





    </section>

    <section class="section">
        <div class="container">

            <button class="button" onclick="request_plugins_builder('skeleton', 0.1)">
                plugin_builder skeleton
            </button>

            <div class="tile is-ancestor">
                <a class="tile is-3 notification is-primary button" href=/new_applet>
                    Create a new applet
                </a>
            </div>
        </div>
    </section>


</body>

</html>