<!DOCTYPE html>


<html lang="en">

<head>
    <meta charset="utf-8">

    <title>ultrasonics - new</title>
    <meta name="description" content="do more with your music">
    <meta name="author" content="Callum Morrison">

    <link rel="stylesheet" href='/static/style.css'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"
        integrity="sha512-v8ng/uGxkge3d1IJuEo6dJP8JViyvms0cly9pnbfRxT6/31c3dRWxIiwGnMSWwZjHKOuY3EVmijs7k1jz/9bLA=="
        crossorigin="anonymous"></script>
</head>

<body>
    <section class="section">
        <div class="container">
            <h1 class="title">ultrasonics</h1>
            <p class="heading">new applet</p>

            <p>This is where the create screen will be</p>

        </div>

    </section>

</body>

</html>