<!DOCTYPE html>


<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ultrasonics</title>
    <meta name="description" content="do more with your music">
    <meta name="author" content="Callum Morrison">

    <link rel="shortcut icon" href="/static/images/favicon.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/bulma-prefers-dark">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bulma-extensions@6.2.7/bulma-checkradio/dist/css/bulma-checkradio.min.css">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bulma-extensions@6.2.7/bulma-tooltip/dist/css/bulma-tooltip.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap">
    <link rel="stylesheet" href="/static/css/custom.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"></script>
    <script src="/static/js/app.js"></script>
</head>

<body>

    <noscript>
        <strong>
            Sorry, ultrasonics won't work without JavaScript enabled :(
        </strong>
    </noscript>


    <div class="container">
        <section class="section">

            <div class="columns">
                <div class="column logo">
                    <img src="/static/images/logo.svg">
                </div>
            </div>

            <div class="content is-family-monospace has-grey-links">
                <a href="/">home</a>
                >
                <span class="p1"><b>new applet</b></span><br>
                <!-- <span class="p2">mode:</span> {{ current_plans["applet_mode"] }}<br> -->
                <span class="p2">uuid:</span> {{ current_plans["applet_id"] }}
            </div>

            <form class="field" action="/">

                <!-- Hidden inputs to store variables -->
                <input type="hidden" name="action" value="build">

                <!-- Loop over each type of component to build it's section -->
                {% for type in ["inputs", "modifiers", "outputs", "triggers"] %}
                <h2 class="subtitle has-grey-links no-hover">
                    <a href="/select_plugin?component={{ type }}">{{ type }}
                        <span class="p2"><b>+</b></span></a>

                    {% if type == "modifiers" %}
                    <span class="tag">Optional</span>
                    {% endif %}

                </h2>

                <!-- Loop over all the included components in the current applet plan -->
                {% for component in current_plans[type] %}
                <div class="tags has-addons">
                    <span class="tag is-medium is-primary">{{ component["plugin"] }}</span>
                    <span class="tag is-medium data">{{ component["data"] }}</span>
                    <a href="/new_applet?action=remove&component_type={{ type }}&component={{ component }}"
                        class="tag is-delete is-medium is-danger"></a>
                </div>
                {% endfor %}

                <br>


                {% endfor %}


                <div class="field is-grouped">
                    <div class="control">
                        <input class="input" type="text" name="applet_name" placeholder="Applet Name"
                            pattern="([A-z0-9À-ž\s]){1,}" value="{{ current_plans['applet_name'] }}"
                            onchange="applet_update_name(this.value)">
                    </div>
                    <p class=" control">
                        <input type="submit" value="Save Changes" class="button">
                    </p>
                    <p class="control">
                        <a href="/?action=clear" class="button tooltip is-tooltip-danger is-tooltip-right"
                            data-tooltip="Discard Changes?">Cancel</a>
                    </p>
                </div>
            </form>

        </section>
    </div>


</body>

</html>