<!DOCTYPE html>


<html lang="en">

<head>
    <meta charset="utf-8">

    <title>ultrasonics</title>
    <meta name="description" content="do more with your music">
    <meta name="author" content="Callum Morrison">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/bulma-prefers-dark">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bulma-extensions@6.2.7/bulma-checkradio/dist/css/bulma-checkradio.min.css">
    <link rel="stylesheet" href="/static/custom.css">
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script> -->
    <!-- <script src="/static/handlers.js"></script>
    <script src="/static/requesters.js"></script>
    <script src="/static/builders.js"></script> -->
</head>

<body>

    <noscript>
        <strong>
            Sorry, ultrasonics won't work without JavaScript enabled :(
        </strong>
    </noscript>


    <section class="section">
        <div class="container">

            <h1 class="title">new applet</h1>
            <p class="subheading">{{ current_plans["applet_id"] }}</p>

            <h2 class="subtitle">inputs</h2>
            <a href="/select_plugin?component=inputs">+</a>

            {% for component in current_plans["inputs"] %}
            <p>{{ component }}</p>
            {% endfor %}


            <h2 class="subtitle">modifiers</h2>
            <a href="/select_plugin?component=modifiers">+</a>

            {% for component in current_plans["modifiers"] %}
            <p>{{ component }}</p>
            {% endfor %}


            <h2 class="subtitle">outputs</h2>
            <a href="/select_plugin?component=outputs">+</a>

            {% for component in current_plans["outputs"] %}
            <p>{{ component }}</p>
            {% endfor %}


            <h2 class="subtitle">triggers</h2>
            <a href="/select_plugin?component=triggers">+</a>

            {% for component in current_plans["triggers"] %}
            <p>{{ component }}</p>
            {% endfor %}

            <div class="field is-grouped">
                <p class="control">
                    <a href="/?action=applet_build" class="button is-link">
                        Save changes
                    </a>
                </p>
                <p class="control">
                    <a class="button">
                        Cancel
                    </a>
                </p>
            </div>

        </div>
    </section>


</body>

</html>