<!DOCTYPE html>


<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ultrasonics</title>
    <meta name="description" content="do more with your music">
    <meta name="author" content="Callum Morrison">

    <link rel="shortcut icon" href="/static/images/favicon.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/bulma-prefers-dark">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bulma-extensions@6.2.7/bulma-checkradio/dist/css/bulma-checkradio.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap">
    <link rel="stylesheet" href="/static/css/custom.css">
</head>

<body>

    <noscript>
        <strong>
            Sorry, ultrasonics won't work without JavaScript enabled :(
        </strong>
    </noscript>


    <div class="container">
        <section class="section">

            <div class="columns">
                <div class="column logo">
                    <img src="/static/images/logo.svg">
                </div>
            </div>

            <div class="content is-family-monospace has-grey-links">
                <a href="/">home</a>
                >
                <a href="/new_applet">new applet</a>
                >
                <span class="p1"><b>select plugin</b></span><br>
                <span class="p2">component:</span> {{ component }}
            </div>

            <div id="div_service_select" class="tile is-ancestor"></div>

            <div class="container">
                <div class="field">
                    <div class="plugin_builder_buttons" id="plugin_builder">
                        <div class="columns is-multiline">
                            {% for handshake in handshakes %}
                            <div class="column is-3">
                                <a class="button plugin"
                                    href="/configure_plugin?plugin={{ handshake.name }}&version={{ handshake.version }}&component={{ component }}&persistent=0">
                                    <div>
                                        <p><b>{{ handshake.name }} - <span
                                                    class="p1">v{{ handshake.version }}</span></b>
                                        </p>
                                        <!-- {% if "playlists" not in handshake.mode %}
                                        <p>⚠️ songs mode plugin ⚠️</p>
                                        {% endif %} -->
                                        <p class="is-size-6">{{ handshake.description }}</p>
                                    </div>
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <a href="/new_applet" class="button">Back</a>
                    </div>
                </div>
            </div>

        </section>
    </div>


</body>

</html>