<!DOCTYPE html>


<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ultrasonics</title>
    <meta name="description" content="do more with your music">
    <meta name="author" content="Callum Morrison">

    <link rel="shortcut icon" href="/static/images/favicon.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/bulma-prefers-dark">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bulma-extensions@6.2.7/bulma-checkradio/dist/css/bulma-checkradio.min.css">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bulma-extensions@6.2.7/bulma-tooltip/dist/css/bulma-tooltip.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap">
    <link rel="stylesheet" href="/static/css/custom.css">
</head>

<body>

    <noscript>
        <strong>
            Sorry, ultrasonics won't work without JavaScript enabled :(
        </strong>
    </noscript>

    <div class="container">

        <section class="section has-text-centered welcome-page">
            <img src="/static/images/logo.svg">

            <h1 class="title has-text-centered">Welcome to ultrasonics!</h1>
            <p>It looks like this is the first time you've used ultrasonics - so below is a quick tutorial to cover
                the basics 😎.</p>
            <div class="buttons is-centered">
                <a href="/?action=new_install" class="button">skip introduction</a>
            </div>

            <img class="welcome-image" src="/static/images/welcome1.jpg">
            <p>This is the homepage. It shows all the applets you've created, with general information on the left,
                and controls on the right of each.</p>

            <img class="welcome-image" src="/static/images/welcome2.jpg">
            <p>When you create a new applet, you are greeted with the applet builder screen. Each applet contains
                some combination of:</p>
            <div class="content">
                <ul>
                    <li>Inputs <i>(Where your playlists are coming from)</i></li>
                    <li>Modifiers <i>(Make interesting alterations to your playlists)</i></li>
                    <li>Outputs <i>(Where your playlists are going to)</i></li>
                    <li>Triggers <i>(What causes the applet to run)</i></li>
                </ul>
            </div>
            <p>You need at least one input and one output for a functional applet!</p>

            <img class="welcome-image" src="/static/images/welcome3.jpg">
            <p>All the plugins you can use to build you applet are shown at the plugin selection screen.</p>

            <img class="welcome-image" src="/static/images/welcome4.jpg">
            <p>Some plugins require 'persistent settings'. These settings will carry over to all instances of the
                specific plugin.</p>

            <img class="welcome-image" src="/static/images/welcome5.jpg">
            <p>Some plugins also have instance specific settings. These are specifically for this applet, and will
                control the plugins behaviour.</p>

            <img class="welcome-image" src="/static/images/welcome6.jpg">
            <p>Spend some time building your perfect applet. When you're ready, click 'Save Changes' and you're
                golden ☀️.</p>

            <div class="buttons is-centered">
                <a href="/?action=new_install" class="button">let's go!</a>
            </div>

        </section>

    </div>


</body>

</html>